services:
  backoffice-db:
    build:
      context: db
      dockerfile: Dockerfile
    restart: always
    networks:
      - novition_backoffice

  backoffice-redis:
    image: redis:alpine
    restart: always
    networks:
      - novition_backoffice

  backoffice-web:
    build:
      args:
        user: backoffice
        uid: 1000
      context: dist
      dockerfile: Dockerfile
    ports:
      - "18080:80"
    restart: always
    depends_on:
      - backoffice-db
      - backoffice-redis
    networks:
      - novition_backoffice

networks:
  novition_backoffice:
    driver: bridge
